<div class="dh1">
    <img class="img1" src="assets/10452467.png" alt="">
    <h1 class="fw-bolder"><span style="color: red;">FREE&nbsp;&nbsp;</span><span style="color: black;">PAL</span><span style="color: white;">EST</span><span style="color: green;">INE</span></h1>
</div>

<section class="s1">
    <div class="d1">
        <img src="../assets/_131723454_gettyimages-1772576031_family.jpg" alt="R.I.P GAZA">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</section>


<section class="s2">
    <div class="d2">
        <img src="../assets/33Y682R-highres-1697271104.jpg" alt="R.I.P GAZA">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
</section>

<section class="s3">
    <div class="d3">
        <img src="../assets/65ea94182341337.Y3JvcCwxOTk5LDE1NjQsMCwyMTc.png" alt="R.I.P GAZA">
    </div>
</section>

