<!-- <p>form-inscription works!</p> -->
<!-- <br>
<div>
    <form class="form-group" >
    <div>
        <label style="font-family: Verdana, Geneva, Tahoma, sans-serif;" for="username" class="col-sm-2 col-form-label">&nbsp;&nbsp;Username:</label> <br>
        <div>
            <input (mousedown)="checkuser()" type="text" class="form-control" placeholder="username" >
        </div>
                
            <div>
                <div *ngif="'utouched && uinvalid'" class="alert alert-danger">Email Required</div>
                <div *ngif="'uminLength'" class="alert alert-danger">Username Length must be atleast 5 caracters</div>
            </div>
        
    </div>

    
    <div>
        <input type="submit" class="btn btn-primary" value="Submit"/>
    </div>

</form>
</div> -->


<!-- <div>
    <form>
        <label>First name :</label> <br>
        <input #firstname type="text" (blur)="checkfirst(firstname)" class="form form-control" name="firstname" placeholder="username">
        <div *ngIf="divfirstreq" class="alert alert-danger">First Name Required</div>
        <div #minL *ngIf="divfirstminLength" class="alert alert-danger">First Name min Length must be atleast 5 caracters</div>
        <label>Last name :</label> <br>
        <input type="text" name="lastname" placeholder="username">
        <label>Passwword :</label> <br>
        <input type="text" name="password" placeholder="username"> 


        <input type="submit" value="Submit">
    </form>
</div> -->

<style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.871) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }

    
</style>

<!-- <div class="alert alert-success" id="hid" data-dimiss="alert" role="alert">
    A simple success alert—check it out!
    <button type="button" class="btn-close" (click)="hide()" data-bs-dimiss="close" aria-label="Close"></button>
  </div> -->
<h2 style="text-align: center;" id="divsucc"></h2>
<section class="s1">
<div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        
        <!-- FirstName input -->
        <i class="fas fa-user fa-lg me-3 fa-fw"></i> <label>First Name :</label> <br>
        <input type="text" ngModel #firstname="ngModel"  name="firstName" id="form3Example1" class="form-control" required minlength="3" />

    <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)" >
        <div style="width: 25%;" *ngIf="firstname.errors?.['required']" class="alert alert-danger">First Name is required.</div>
        <div style="width: 25%;" *ngIf="firstname.errors?.['minlength']" class="alert alert-danger">First Name must be at least 3 characters long. </div>
    </div>


    <!-- LastName input -->
    <i class="fas fa-user fa-lg me-3 fa-fw"></i> <label>Last name :</label> <br>
    <input type="text" ngModel #lastname="ngModel"  name="lastName" class="form-control" required minlength="3" />

    <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
        <div style="width: 25%;" *ngIf="lastname.errors?.['required']" class="alert alert-danger">Last Name is required.</div>
        <div style="width: 25%;" *ngIf="lastname.errors?.['minlength']" class="alert alert-danger"> Last Name must be at least 3 characters long. </div>
    </div>


    <!-- Username input -->
    <i class="fas fa-user fa-lg me-3 fa-fw"></i> <label>Username :</label> <br>
    <input type="text" ngModel #username="ngModel"  name="userName" class="form-control" required minlength="5" />

    <div *ngIf="username.invalid && (username.dirty || username.touched)">
        <div style="width: 25%;" *ngIf="username.errors?.['required']" class="alert alert-danger">UserName is required.</div>
        <div style="width: 25%;" *ngIf="username.errors?.['minlength']" class="alert alert-danger"> userName must be at least 5 characters long. </div>
    </div>


    <!-- Email input -->
    <div>
        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i> <label style="color: white;" class="form-label" for="form3Example3">Email address :</label>
        <input type="email" ngModel #email="ngModel" id="form3Example3" name="email" class="form-control" required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" />
    </div>

    <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <div style="width: 25%;" *ngIf="email.errors?.['required']" class="alert alert-danger">Email is required.</div>
        <div style="width: 25%;" *ngIf="email.errors?.['pattern']" class="alert alert-danger"> Email is Not Available. </div>
    </div>


    <!-- Password input -->
    <div>
        <i class="fas fa-lock fa-lg me-3 fa-fw"></i> <label style="color: white;" class="form-label" for="form3Example3">Password :</label>
        <input type="password" ngModel #password="ngModel" id="form3Example3" name="password" class="form-control" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"/>
    </div>

    <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <div style="width: 25%;" *ngIf="password.errors?.['required']" class="alert alert-danger">Password is required.</div>
        <div style="width: 25%;" *ngIf="password.errors?.['pattern']" class="alert alert-danger">Password must contain 8 caracters with upper and lower caracters and numbers and icluding one of  @$!%*#?&</div>
    </div>


    <!-- Confirm Password input -->
    <div>
        <i class="fas fa-key fa-lg me-3 fa-fw"></i> <label style="color: white;" class="form-label" for="form3Example3">Confirm Password :</label>
        <input (change)="checkpass()" type="password" ngModel #confpassword="ngModel" id="form3Example3" name="confpassword" class="form-control" required pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$"/>
    </div>

    <div *ngIf="confpassword.invalid && (confpassword.dirty || confpassword.touched)">
        <div style="width: 25%;" *ngIf="confpassword.errors?.['required']" class="alert alert-danger">Password is required.</div>
        <!-- <div style="width: 25%;" *ngIf="confpassword.errors?.['pattern']" class="alert alert-danger">Password must contain 8 caracters with upper and lower caracters and numbers and icluding one of  @$!%*#?&</div> -->
        <div style="width: 25%;" *ngIf="!same" class="alert alert-danger">Password is not correct</div>
    </div>




    <!-- <div class="form-outline" data-mdb-input-init>
        <input type="text" id="form12" class="form-control" />
        <label class="form-label" for="form12">Enter Password</label>
    </div> <br> -->


    <!-- I agree for all statements -->
    <div class="form-check d-flex mb-5">
        <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
        <label class="form-check-label labterm" for="form2Example3g">
          I agree all statements in <a href="#!" class="text-body"><u style="color: white;">Terms of service</u></a>
        </label>
    </div>


    <!-- Buttons -->
    <button style="width: 25%;" type="submit" (click)="registred()" class="btn btn-primary btn-lg btn-block sign">Register</button> <br>
    <button style="width: 25%;" type="reset" class="btn btn-light btn-lg gradient-custom-4">Reset all</button>
    <!-- <button (click)="reload()"> Reload page </button> -->

    <!-- Login Here -->
    <p style="margin-left:50px; color: white;" class="text-muted mt-5 mb-0">Have Already an Account? <a routerLink="/login" 
        class="fw-bold text-body"><u style="color: white;">Login here</u></a></p>


    <!-- Image -->
    <div class="dimg">
    <img src="assets/64613534.webp">
    </div>

    </form>
</div>
</section>