<br>
<div id="dconf" style="text-align: center;font-family: Verdana, Geneva, Tahoma, sans-serif;"></div>
<section class="mb-4">
    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within 
        a matter of hours to help you.</p>
</section>

<div class="container">
    <section>
        <div class="dd5l">
            <h2 class="h2-responsive font-weight-bold text-center my-4">Speak To Us</h2>
            <br>

            <div class="form-outline mb-4">
                <mdb-form-control>
                  <input mdbInput type="text" id="typeText" class="form-control" />
                  <label mdbLabel class="form-label" for="typeText" style="color: white;">Your First Name</label>
                </mdb-form-control>
            </div>

            <div class="form-outline mb-4" data-mdb-input-init>
                <mdb-form-control>
                <input mdbInput type="text" id="formControlDefault" class="form-control" />
                <label mdbLabel class="form-label" for="formControlDefault" style="color: white;">Your Last Name</label>
            </mdb-form-control>
            </div> <br>

            <div class="form-outline mb-4">
                <mdb-form-control>
                  <input mdbInput type="email" id="typeEmail" class="form-control" />
                  <label mdbLabel class="form-label" for="typeEmail" style="color: white;">Your E-mail</label>
                </mdb-form-control>
            </div>

            <div class="form-outline" data-mdb-input-init>
                <mdb-form-control>
                <textarea mdbInput class="form-control" id="textAreaExample" rows="4"></textarea>
                <label mdbLabel class="form-label" for="textAreaExample" style="color: white;">Your Subject</label>
                </mdb-form-control>
            </div>
            <br>

            <div class="dbtn">
                <button type="button" (click)="confirmed()" class="btn btn-success">CONFIRM</button>
            </div>
        </div>
    </section>
</div>