.container{
    background-color: #19303d;
    height: 600px;
    width: 650px;
}

.d1{
    width: 600px;
    margin-left: 500px;
}

div input{
    color: white;
}

div textarea{
    color: white;
}

.dd5l{
    padding-top: 50px;
    width: 500px;
    padding-left: 150px;
}

.dbtn{
    text-align: center;
}

.dbtn button{
    width: 350px;
}